body {
   background: #FFB6C1
}

#banner {

}

h1 {
 text-align: center; background: #FFB6C1
}

p {
  text-align: center;
}

#missao {
   "font-size: 30px"
}

em strong {
  color:#800000
}

.itens{
   font-style: italic
}

.beneficios{
  background:##8B4513;
}

h2{
   text-align: center;
}
ul{
 display: inline-blok;
 vertical-align: top;
 width: 20%
 margin-right: 15%;
}

.imagemvitrine{
   width: 50%;
}


